{% extends 'pageWrapper.html' %}
{% set show_footer = True %}

{% block head %}
    <title>Generate Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/generate.css") }}" />
    <script type="application/ecmascript" src="{{ url_for('static', filename="assets/generate.js") }}"></script>
{% endblock %}

{% block body %}
    {% include 'header/oceanIslandHeader.html' %}
    <div id="generate-game-wrapper">
        <div id="generate-game">
            <h1>Generate Game{% if race %} (Race Mode){% endif %}</h1>

            <p>Multiworld generation is disabled. Please generate locally and <a href="{{ url_for('uploads') }}">host a room</a> with the resulting file.</p>
        </div>
    </div>
{% endblock %}
