{% extends 'pageWrapper.html' %}
{% set show_footer = True %}

{% block head %}
    <title>Archipelago</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/landing.css") }}" />
{% endblock %}

{% block body %}
    {% include 'header/oceanIslandHeader.html' %}
    <div id="landing-wrapper">
        <div id="landing-header">
            <h2>ARCHIPELAGO</h2>
            <h4>Multiworld Multi-Game Randomizer</h4>
        </div>
        <div id="landing-links">
            <a href="/games">Supported Games</a>
            <a href="/tutorial">Setup Guides</a>
            <a href="/start-playing">Start Playing</a>
            <a href="/faq/en/">F.A.Q.</a>
        </div>
        <div id="landing">
            <div id="landing-body">
                <p id="first-line">Welcome to Archipelago!</p>
                <p>THIS IS A PRIVATE FORK OF ARCHIPELAGO MEANT FOR PERSONAL USE</p>
                <p>
                    Archipelago is a cross-game modification system which randomizes different games, then uses the result to
                    build a single unified multi-player game. Items from one game may be present in another, and
                    you will need your fellow players to find items you need in their games to help you complete
                    your own.
                </p>
                <p>
                    This project is the cumulative effort of many
                    <a href="https://github.com/ArchipelagoMW/Archipelago/graphs/contributors">talented people.</a>
                </p>
                <p>
                    <a href="{{ url_for("stats") }}">{{ seeds }}</a>
                    games were generated and
                    <a href="{{ url_for("stats") }}">{{ rooms }}</a>
                    were hosted in the last 7 days.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
