#host-game-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#host-game{
    width: 700px;
    min-height: 240px;
    text-align: center;
}

#host-game.wider{
    width: 980px;
}

#host-game h1{
    font-size: 52px;
    font-family: PlusJakartaSans-ExtraBold, sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
}

#host-game p{
    font-family: PlusJakartaSans-Medium, sans-serif;
    color: #13261C;
    text-align: left;
}

#host-game-form-wrapper{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

#host-game-form{
    display: none;
}

#host-game button{
    margin-top: 5px;
}
