html{
    overflow-x: hidden;
}

#landing-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#landing-header{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
}

#landing-header h2{
    color: #13261C;
    font-family: PlusJakartaSans-ExtraBold, sans-serif;
    font-size: 96px;
    margin-top: 50px;
    margin-bottom: 0;
    font-kerning: none;
    z-index: 10;
}

#landing-header h4{
    color: #13261C;
    font-family: PlusJakartaSans-Medium, sans-serif;
    font-size: 36px;
    margin-top: 48px;
    margin-bottom: 0;
    font-kerning: none;
    z-index: 10;
}

#landing-links{
    margin-left: auto;
    margin-right: auto;
    height: 170px;
}

#landing-links a{
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    font-kerning: none;
    text-decoration: none;
    color: #13261C;
    font-family: PlusJakartaSans-ExtraBold, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

#landing #first-line{
    font-family: PlusJakartaSans-Bold, sans-serif;
    font-size: 25px;
    margin: 40px 0 20px;
    text-transform: uppercase;
    color: #13261C;
}

#landing{
    max-width: 700px;
    min-height: 280px;
    margin-left: auto;
    margin-right: auto;
}

#landing-body{
    font-family: PlusJakartaSans-SemiBold, sans-serif;
    font-size: 18px;
    color: #13261C;
    line-height: 30px;
}

#landing-body a{
    color: #13261C;
    font-family: PlusJakartaSans-Bold, sans-serif;
}
