#tracker-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 1rem);
}

#tracker-wrapper a {
    color: #13261C;
    text-decoration: none;
    cursor: pointer;
}

#tracker-header-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    line-height: 20px;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#tracker-header-bar .info {
    color: #13261C;
    padding: 2px;
    flex-grow: 1;
    align-self: center;
    text-align: justify;
    font-family: PlusJakartaSans-Medium, sans-serif;
}

#tracker-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0.5rem 0.5rem 0.5rem;
    user-select: none;
    height: 2rem;
}

.tracker-navigation-bar {
    display: flex;
    background-color: #13261C;
    border-radius: 4px;
}

.tracker-navigation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    color: #DDF6EA !important;
    font-weight: lighter;
    font-family: PlusJakartaSans-SemiBold, sans-serif;
}

.tracker-navigation-button:hover {
    background-color: #13261C !important;
}

.tracker-navigation-button.selected {
    background-color: #13261C;
}


.table-wrapper {
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 1rem;
    resize: vertical;
}

#search {
    border: 1px solid #13261C;
    border-radius: 3px;
    padding: 3px;
    width: 200px;
}

div.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: none;
}

table.dataTable {
    color: #13261C;
}

table.dataTable thead {
    font-family: PlusJakartaSans-Bold, sans-serif;
}

table.dataTable tbody, table.dataTable tfoot {
    font-family: PlusJakartaSans-Medium, sans-serif;
}

table.dataTable tbody tr:hover, table.dataTable tfoot tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

table.dataTable tbody td, table.dataTable tfoot td {
    padding: 4px 6px;
}

table.dataTable, table.dataTable.no-footer {
    border-left: 1px solid #13261C;
    width: calc(100% - 2px) !important;
    font-size: 1rem;
}

table.dataTable thead th {
    position: -webkit-sticky;
    position: sticky;
    background-color: #13261C;
    top: 0;
    color: #DDF6EA;
}

table.dataTable thead th.upper-row {
    position: -webkit-sticky;
    position: sticky;
    background-color: #13261C;
    height: 36px;
    top: 0;
}

table.dataTable thead th.lower-row {
    position: -webkit-sticky;
    position: sticky;
    background-color: #13261C;
    height: 22px;
    top: 46px;
}

table.dataTable tbody td, table.dataTable tfoot td {
    border: 1px solid #13261C;
}

table.dataTable tfoot td {
    font-weight: bold;
}

div.dataTables_scrollBody {
    background-color: inherit !important;
}

table.dataTable .center-column {
    text-align: center;
}

img.icon-sprite {
    height: auto;
    max-height: 32px;
    min-height: 14px;
}

.item-acquired {

}

#player_prefix_summary {
    margin-bottom: 20px;
    color: #13261C;
    font-family: PlusJakartaSans-Medium, sans-serif;
}

#player_prefix_summary h3 {
    font-family: PlusJakartaSans-SemiBold, sans-serif;
    margin-bottom: 10px;
}